# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
*.tmp
*.temp
stream-buddy.zip
